h1 {
    color: #000000;
    font-size: 50px;
    background-color: rgba(120, 120, 179, .8);
}

p {
    color: red;
    font-size: 25px;
    background-color: bisque;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid #000000;
}